{
  "apiBase": "/client/api",
  "servers": [
    {
      "name": "Local-Server",
      "apiHost": "",
      "apiBase": "/client/api"
    }
  ],
  "docBase": "/guide/html",
  "grafanaBase": "{{ grafanaBase }}",
  "appTitle": "namuVirt",
  "footer": "",
  "loginTitle": "namuVirt",
  "loginFavicon": "assets/logo.svg",
  "loginFooter": "",
  "resetPasswordFooter": "",
  "logo": "assets/logo.svg",
  "minilogo": "assets/mini-logo.png",
  "banner": "assets/banner.svg",
  "favicon": "assets/mini-logo.png",
  "error": {
    "403": "assets/403.png",
    "404": "assets/404.png",
    "500": "assets/500.png"
  },
  "theme": {
    "@layout-mode": "light",
    "@logo-background-color": "#ffffff",
    "@mini-logo-background-color": "#ffffff",
    "@navigation-background-color": "#001529",
    "@project-nav-background-color": "#001529",
    "@project-nav-text-color": "rgba(255, 255, 255, 0.65)",
    "@navigation-text-color": "rgba(255, 255, 255, 0.65)",
    "@primary-color": "#52c41a",
    "@link-color": "#52c41a",
    "@link-hover-color": "#40a9ff",
    "@loading-color": "#52c41a",
    "@processing-color": "#52c41a",
    "@success-color": "#52c41a",
    "@warning-color": "#faad14",
    "@error-color": "#f5222d",
    "@font-size-base": "14px",
    "@heading-color": "rgba(0, 0, 0, 0.85)",
    "@text-color": "rgba(0, 0, 0, 0.65)",
    "@text-color-secondary": "rgba(0, 0, 0, 0.45)",
    "@disabled-color": "rgba(0, 0, 0, 0.25)",
    "@border-color-base": "#d9d9d9",
    "@border-radius-base": "4px",
    "@box-shadow-base": "0 2px 8px rgba(0, 0, 0, 0.15)",
    "@logo-width": "256px",
    "@logo-height": "64px",
    "@mini-logo-width": "64px",
    "@mini-logo-height": "64px",
    "@banner-width": "700px",
    "@banner-height": "110px",
    "@error-width": "256px",
    "@error-height": "256px"
  },
  "keyboardOptions": {
    "us": "label.standard.us.keyboard",
    "uk": "label.uk.keyboard",
    "fr": "label.french.azerty.keyboard",
    "jp": "label.japanese.keyboard",
    "sc": "label.simplified.chinese.keyboard",
    "es-latam": "Spanish Latin American Keyboard"
  },
  "userCard": {
    "enabled": true,
    "title": "label.help",
    "icon": "question-circle-outlined",
    "links": [
      {
        "title": "Documentation",
        "text": "namuVirt documentation website",
        "link": "/",
        "icon": "read-outlined"
      },
      {
        "title": "API Documentation",
        "text": "Refer to API documentation",
        "link": "https://cloudstack.apache.org/api.html",
        "icon": "api-outlined"
      },
      {
        "title": "Email Support",
        "text": "Join namuVirt users mailing list to seek and provide support",
        "link": "mailto:users-subscribe@cloudstack.apache.org",
        "icon": "mail-outlined"
      },
      {
        "title": "Report Issue",
        "text": "Submit a bug or improvement request",
        "link": "https://github.com/apache/cloudstack/issues/new",
        "icon": "bug-outlined"
      }
    ]
  },
  "plugins": [],
  "allowMakingRouterRedundant": false,
  "apidocs": true,
  "basicZoneEnabled": true,
  "multipleServer": false,
  "allowSettingTheme": true,
  "displayProjectFieldOnLogin": false,
  "imageSelectionInterface": "modern",
  "showUserCategoryForModernImageSelection": true,
  "showAllCategoryForModernImageSelection": false,
  "docHelpMappings": {
    "#/01_compute/01_instances/instances.html": "#/01_compute/01_instances/instances.html",
    "#/01_compute/02_instances_snapshots/instances_snapshots.html": "#/01_compute/02_instances_snapshots/instances_snapshots.html",
    "#/01_compute/03_kubernetes/kubernetes.html": "#/01_compute/03_kubernetes/kubernetes.html",
    "#/01_compute/04_autoscaling_groups/autoscaling_groups.html": "#/01_compute/04_autoscaling_groups/autoscaling_groups.html",
    "#/01_compute/05_instance_groups/instance_groups.html": "#/01_compute/05_instance_groups/instance_groups.html",
    "#/01_compute/06_ssh_key_pairs/ssh_key_pairs.html": "#/01_compute/06_ssh_key_pairs/ssh_key_pairs.html",
    "#/01_compute/07_user_data_library/user_data_library.html": "#/01_compute/07_user_data_library/user_data_library.html",
    "#/01_compute/08_cni_configuration/cni_configuration.html": "#/01_compute/08_cni_configuration/cni_configuration.html",
    "#/01_compute/09_affinity_groups/affinity_groups.html": "#/01_compute/09_affinity_groups/affinity_groups.html",
    "#/02_storage/01_volumes/volumes.html": "#/02_storage/01_volumes/volumes.html",
    "#/02_storage/02_volume_snapshots/volume_snapshots.html": "#/02_storage/02_volume_snapshots/volume_snapshots.html",
    "#/02_storage/03_snapshot_policies/snapshot_policies.html": "#/02_storage/03_snapshot_policies/snapshot_policies.html",
    "#/02_storage/04_backups/backups.html": "#/02_storage/04_backups/backups.html",
    "#/02_storage/05_backup_schedules/backup_schedules.html": "#/02_storage/05_backup_schedules/backup_schedules.html",
    "#/02_storage/06_buckets/buckets.html": "#/02_storage/06_buckets/buckets.html",
    "#/02_storage/07_shared_filesystems/shared_filesystems.html": "#/02_storage/07_shared_filesystems/shared_filesystems.html",
    "#/03_network/01_guest_networks/guest_networks.html": "#/03_network/01_guest_networks/guest_networks.html",
    "#/03_network/02_vpc/vpc.html": "#/03_network/02_vpc/vpc.html",
    "#/03_network/03_security_group/security_group.html": "#/03_network/03_security_group/security_group.html",
    "#/03_network/04_vnf_appliances/vnf_appliances.html": "#/03_network/04_vnf_appliances/vnf_appliances.html",
    "#/03_network/05_public_ip_addresses/public_ip_addresses.html": "#/03_network/05_public_ip_addresses/public_ip_addresses.html",
    "#/03_network/06_as_numbers/as_numbers.html": "#/03_network/06_as_numbers/as_numbers.html",
    "#/03_network/07_site_to_site_vpn/site_to_site_vpn.html": "#/03_network/07_site_to_site_vpn/site_to_site_vpn.html",
    "#/03_network/08_vpn_connections/vpn_connections.html": "#/03_network/08_vpn_connections/vpn_connections.html",
    "#/03_network/09_network_acls/network_acls.html": "#/03_network/09_network_acls/network_acls.html",
    "#/03_network/10_vpn_users/vpn_users.html": "#/03_network/10_vpn_users/vpn_users.html",
    "#/03_network/11_vpn_customer_gateway/vpn_customer_gateway.html": "#/03_network/11_vpn_customer_gateway/vpn_customer_gateway.html",
    "#/03_network/12_guest_vlan/guest_vlan.html": "#/03_network/12_guest_vlan/guest_vlan.html",
    "#/03_network/13_ipv4_subnets/ipv4_subnets.html": "#/03_network/13_ipv4_subnets/ipv4_subnets.html",
    "#/04_images/01_templates/templates.html": "#/04_images/01_templates/templates.html",
    "#/04_images/02_isos/isos.html": "#/04_images/02_isos/isos.html",
    "#/04_images/03_kubernetes_isos/kubernetes_isos.html": "#/04_images/03_kubernetes_isos/kubernetes_isos.html",
    "#/05_events/01_events/events.html": "#/05_events/01_events/events.html",
    "#/06_projects/01_projects/projects.html": "#/06_projects/01_projects/projects.html",
    "#/07_roles/01_roles/roles.html": "#/07_roles/01_roles/roles.html",
    "#/08_accounts/01_accounts/accounts.html": "#/08_accounts/01_accounts/accounts.html",
    "#/09_domains/01_domains/domains.html": "#/09_domains/01_domains/domains.html",
    "#/10_infrastructure/01_summary/summary.html": "#/10_infrastructure/01_summary/summary.html",
    "#/10_infrastructure/02_zones/zones.html": "#/10_infrastructure/02_zones/zones.html",
    "#/10_infrastructure/03_pods/pods.html": "#/10_infrastructure/03_pods/pods.html",
    "#/10_infrastructure/04_clusters/clusters.html": "#/10_infrastructure/04_clusters/clusters.html",
    "#/10_infrastructure/05_hosts/hosts.html": "#/10_infrastructure/05_hosts/hosts.html",
    "#/10_infrastructure/06_primary_storage/primary_storage.html": "#/10_infrastructure/06_primary_storage/primary_storage.html",
    "#/10_infrastructure/07_secondary_storage/secondary_storage.html": "#/10_infrastructure/07_secondary_storage/secondary_storage.html",
    "#/10_infrastructure/08_backup_repository/backup_repository.html": "#/10_infrastructure/08_backup_repository/backup_repository.html",
    "#/10_infrastructure/09_object_storage/object_storage.html": "#/10_infrastructure/09_object_storage/object_storage.html",
    "#/10_infrastructure/10_system_vms/system_vms.html": "#/10_infrastructure/10_system_vms/system_vms.html",
    "#/10_infrastructure/11_virtual_routers/virtual_routers.html": "#/10_infrastructure/11_virtual_routers/virtual_routers.html",
    "#/10_infrastructure/12_internal_lb/internal_lb.html": "#/10_infrastructure/12_internal_lb/internal_lb.html",
    "#/10_infrastructure/13_management_servers/management_servers.html": "#/10_infrastructure/13_management_servers/management_servers.html",
    "#/10_infrastructure/14_cpu_sockets/cpu_sockets.html": "#/10_infrastructure/14_cpu_sockets/cpu_sockets.html",
    "#/10_infrastructure/15_dbusage_server/dbusage_server.html": "#/10_infrastructure/15_dbusage_server/dbusage_server.html",
    "#/10_infrastructure/16_alerts/alerts.html": "#/10_infrastructure/16_alerts/alerts.html",
    "#/11_offerings/01_compute_offerings/compute_offerings.html": "#/11_offerings/01_compute_offerings/compute_offerings.html",
    "#/11_offerings/02_system_offerings/system_offerings.html": "#/11_offerings/02_system_offerings/system_offerings.html",
    "#/11_offerings/03_disk_offerings/disk_offerings.html": "#/11_offerings/03_disk_offerings/disk_offerings.html",
    "#/11_offerings/04_backup_offerings/backup_offerings.html": "#/11_offerings/04_backup_offerings/backup_offerings.html",
    "#/11_offerings/05_network_offerings/network_offerings.html": "#/11_offerings/05_network_offerings/network_offerings.html",
    "#/11_offerings/06_vpc_offerings/vpc_offerings.html": "#/11_offerings/06_vpc_offerings/vpc_offerings.html",
    "#/12_configuration/01_global_settings/global_settings.html": "#/12_configuration/01_global_settings/global_settings.html",
    "#/12_configuration/02_ldap_configuration/ldap_configuration.html": "#/12_configuration/02_ldap_configuration/ldap_configuration.html",
    "#/12_configuration/03_oauth_configuration/oauth_configuration.html": "#/12_configuration/03_oauth_configuration/oauth_configuration.html",
    "#/12_configuration/04_hypervisor_capabilities/hypervisor_capabilities.html": "#/12_configuration/04_hypervisor_capabilities/hypervisor_capabilities.html",
    "#/12_configuration/05_guest_os_categories/guest_os_categories.html": "#/12_configuration/05_guest_os_categories/guest_os_categories.html",
    "#/12_configuration/06_guest_os/guest_os.html": "#/12_configuration/06_guest_os/guest_os.html",
    "#/12_configuration/07_guest_os_mappings/guest_os_mappings.html": "#/12_configuration/07_guest_os_mappings/guest_os_mappings.html",
    "#/12_configuration/08_gpu_card_types/gpu_card_types.html": "#/12_configuration/08_gpu_card_types/gpu_card_types.html",
    "#/13_extensions/01_extensions/extensions.html": "#/13_extensions/01_extensions/extensions.html",
    "#/14_tools/01_comments/comments.html": "#/14_tools/01_comments/comments.html",
    "#/14_tools/02_usage/usage.html": "#/14_tools/02_usage/usage.html",
    "#/14_tools/03_import_export_instances/import_export_instances.html": "#/14_tools/03_import_export_instances/import_export_instances.html",
    "#/14_tools/04_import_data_volumes/import_data_volumes.html": "#/14_tools/04_import_data_volumes/import_data_volumes.html",
    "#/14_tools/05_webhooks/webhooks.html": "#/14_tools/05_webhooks/webhooks.html",
    "adminguide/accounts.html#users": "adminguide/accounts.html#users",
    "adminguide/accounts.html#using-an-ldap-server-for-user-authentication": "adminguide/accounts.html#using-an-ldap-server-for-user-authentication",
    "adminguide/events.html#creating-webhooks": "adminguide/events.html#creating-webhooks",
    "adminguide/events.html#deleting-and-archiving-events-and-alerts": "adminguide/events.html#deleting-and-archiving-events-and-alerts",
    "adminguide/extensions.html": "adminguide/extensions.html",
    "adminguide/extensions.html#custom-actions": "adminguide/extensions.html#custom-actions",
    "adminguide/hosts.html#disabling-and-enabling-zones-pods-and-clusters": "adminguide/hosts.html#disabling-and-enabling-zones-pods-and-clusters",
    "adminguide/hosts.html#kvm-rolling-maintenance": "adminguide/hosts.html#kvm-rolling-maintenance",
    "adminguide/hosts.html#maintaining-hypervisors-on-hosts": "adminguide/hosts.html#maintaining-hypervisors-on-hosts",
    "adminguide/hosts.html#out-of-band-management": "adminguide/hosts.html#out-of-band-management",
    "adminguide/hosts.html#removing-hosts": "adminguide/hosts.html#removing-hosts",
    "adminguide/networking.html#creating-a-new-network-offering": "adminguide/networking.html#creating-a-new-network-offering",
    "adminguide/networking.html#network-service-providers": "adminguide/networking.html#network-service-providers",
    "adminguide/networking/vnf_templates_appliances.html#deploying-vnf-appliances": "adminguide/networking/vnf_templates_appliances.html#deploying-vnf-appliances",
    "adminguide/networking_and_traffic.html#acl-on-private-gateway": "adminguide/networking_and_traffic.html#acl-on-private-gateway",
    "adminguide/networking_and_traffic.html#adding-a-private-gateway-to-a-vpc": "adminguide/networking_and_traffic.html#adding-a-private-gateway-to-a-vpc",
    "adminguide/networking_and_traffic.html#adding-a-security-group": "adminguide/networking_and_traffic.html#adding-a-security-group",
    "adminguide/networking_and_traffic.html#adding-a-virtual-private-cloud": "adminguide/networking_and_traffic.html#adding-a-virtual-private-cloud",
    "adminguide/networking_and_traffic.html#adding-an-additional-guest-network": "adminguide/networking_and_traffic.html#adding-an-additional-guest-network",
    "adminguide/networking_and_traffic.html#basic-zone-physical-network-configuration": "adminguide/networking_and_traffic.html#basic-zone-physical-network-configuration",
    "adminguide/networking_and_traffic.html#configure-guest-traffic-in-an-advanced-zone": "adminguide/networking_and_traffic.html#configure-guest-traffic-in-an-advanced-zone",
    "adminguide/networking_and_traffic.html#configuring-network-access-control-list": "adminguide/networking_and_traffic.html#configuring-network-access-control-list",
    "adminguide/networking_and_traffic.html#creating-a-vpn-connection": "adminguide/networking_and_traffic.html#creating-a-vpn-connection",
    "adminguide/networking_and_traffic.html#creating-a-vpn-gateway-for-the-vpc": "adminguide/networking_and_traffic.html#creating-a-vpn-gateway-for-the-vpc",
    "adminguide/networking_and_traffic.html#creating-acl-lists": "adminguide/networking_and_traffic.html#creating-acl-lists",
    "adminguide/networking_and_traffic.html#creating-an-internal-lb-rule": "adminguide/networking_and_traffic.html#creating-an-internal-lb-rule",
    "adminguide/networking_and_traffic.html#creating-and-updating-a-vpn-customer-gateway": "adminguide/networking_and_traffic.html#creating-and-updating-a-vpn-customer-gateway",
    "adminguide/networking_and_traffic.html#enabling-or-disabling-static-nat": "adminguide/networking_and_traffic.html#enabling-or-disabling-static-nat",
    "adminguide/networking_and_traffic.html#load-balancing-across-tiers": "adminguide/networking_and_traffic.html#load-balancing-across-tiers",
    "adminguide/networking_and_traffic.html#releasing-an-ip-address-alloted-to-a-vpc": "adminguide/networking_and_traffic.html#releasing-an-ip-address-alloted-to-a-vpc",
    "adminguide/networking_and_traffic.html#restarting-and-removing-a-vpn-connection": "adminguide/networking_and_traffic.html#restarting-and-removing-a-vpn-connection",
    "adminguide/networking_and_traffic.html#updating-and-removing-a-vpn-customer-gateway": "adminguide/networking_and_traffic.html#updating-and-removing-a-vpn-customer-gateway",
    "adminguide/object_storage.html#update-bucket": "adminguide/object_storage.html#update-bucket",
    "adminguide/projects.html#accepting-a-membership-invitation": "adminguide/projects.html#accepting-a-membership-invitation",
    "adminguide/projects.html#adding-project-members-from-the-ui": "adminguide/projects.html#adding-project-members-from-the-ui",
    "adminguide/projects.html#creating-a-new-project": "adminguide/projects.html#creating-a-new-project",
    "adminguide/projects.html#sending-project-membership-invitations": "adminguide/projects.html#sending-project-membership-invitations",
    "adminguide/projects.html#suspending-or-deleting-a-project": "adminguide/projects.html#suspending-or-deleting-a-project",
    "adminguide/reliability.html#ha-for-hosts": "adminguide/reliability.html#ha-for-hosts",
    "adminguide/service_offerings.html#creating-a-new-compute-offering": "adminguide/service_offerings.html#creating-a-new-compute-offering",
    "adminguide/service_offerings.html#creating-a-new-disk-offering": "adminguide/service_offerings.html#creating-a-new-disk-offering",
    "adminguide/service_offerings.html#creating-a-new-system-service-offering": "adminguide/service_offerings.html#creating-a-new-system-service-offering",
    "adminguide/service_offerings.html#modifying-or-deleting-a-service-offering": "adminguide/service_offerings.html#modifying-or-deleting-a-service-offering",
    "adminguide/storage.html#creating-a-new-file-share": "adminguide/storage.html#creating-a-new-file-share",
    "adminguide/storage.html#creating-a-new-volume": "adminguide/storage.html#creating-a-new-volume",
    "adminguide/storage.html#id2": "adminguide/storage.html#id2",
    "adminguide/storage.html#lifecycle-operations": "adminguide/storage.html#lifecycle-operations",
    "adminguide/storage.html#resizing-volumes": "adminguide/storage.html#resizing-volumes",
    "adminguide/storage.html#uploading-an-existing-volume-to-a-virtual-machine": "adminguide/storage.html#uploading-an-existing-volume-to-a-virtual-machine",
    "adminguide/storage.html#working-with-volume-snapshots": "adminguide/storage.html#working-with-volume-snapshots",
    "adminguide/systemvm.html#upgrading-virtual-routers": "adminguide/systemvm.html#upgrading-virtual-routers",
    "adminguide/templates.html#attaching-an-iso-to-a-vm": "adminguide/templates.html#attaching-an-iso-to-a-vm",
    "adminguide/templates.html#exporting-templates": "adminguide/templates.html#exporting-templates",
    "adminguide/templates.html#id10": "adminguide/templates.html#id10",
    "adminguide/templates.html#sharing-templates-with-other-accounts-projects": "adminguide/templates.html#sharing-templates-with-other-accounts-projects",
    "adminguide/templates.html#uploading-templates-and-isos-from-a-local-computer": "adminguide/templates.html#uploading-templates-and-isos-from-a-local-computer",
    "adminguide/templates.html#uploading-templates-from-a-remote-http-server": "adminguide/templates.html#uploading-templates-from-a-remote-http-server",
    "adminguide/virtual_machines.html#backup-offerings": "adminguide/virtual_machines.html#backup-offerings",
    "adminguide/virtual_machines.html#change-affinity-group-for-an-existing-vm": "adminguide/virtual_machines.html#change-affinity-group-for-an-existing-vm",
    "adminguide/virtual_machines.html#changing-the-vm-name-os-or-group": "adminguide/virtual_machines.html#changing-the-vm-name-os-or-group",
    "adminguide/virtual_machines.html#creating-a-new-affinity-group": "adminguide/virtual_machines.html#creating-a-new-affinity-group",
    "adminguide/virtual_machines.html#creating-a-new-instance-from-backup": "adminguide/virtual_machines.html#creating-a-new-instance-from-backup",
    "adminguide/virtual_machines.html#creating-the-ssh-keypair": "adminguide/virtual_machines.html#creating-the-ssh-keypair",
    "adminguide/virtual_machines.html#creating-vm-backups": "adminguide/virtual_machines.html#creating-vm-backups",
    "adminguide/virtual_machines.html#creating-vms": "adminguide/virtual_machines.html#creating-vms",
    "adminguide/virtual_machines.html#delete-an-affinity-group": "adminguide/virtual_machines.html#delete-an-affinity-group",
    "adminguide/virtual_machines.html#deleting-vms": "adminguide/virtual_machines.html#deleting-vms",
    "adminguide/virtual_machines.html#how-to-dynamically-scale-cpu-and-ram": "adminguide/virtual_machines.html#how-to-dynamically-scale-cpu-and-ram",
    "adminguide/virtual_machines.html#importing-backup-offerings": "adminguide/virtual_machines.html#importing-backup-offerings",
    "adminguide/virtual_machines.html#moving-vms-between-hosts-manual-live-migration": "adminguide/virtual_machines.html#moving-vms-between-hosts-manual-live-migration",
    "adminguide/virtual_machines.html#resetting-ssh-keys": "adminguide/virtual_machines.html#resetting-ssh-keys",
    "adminguide/virtual_machines.html#resetting-userdata": "adminguide/virtual_machines.html#resetting-userdata",
    "adminguide/virtual_machines.html#restoring-instance-backups": "adminguide/virtual_machines.html#restoring-instance-backups",
    "adminguide/virtual_machines.html#restoring-vm-backups": "adminguide/virtual_machines.html#restoring-vm-backups",
    "adminguide/virtual_machines.html#stopping-and-starting-vms": "adminguide/virtual_machines.html#stopping-and-starting-vms",
    "adminguide/virtual_machines.html#user-data-and-meta-data": "adminguide/virtual_machines.html#user-data-and-meta-data",
    "adminguide/virtual_machines.html#virtual-machine-snapshots": "adminguide/virtual_machines.html#virtual-machine-snapshots",
    "installguide/configuration.html#add-object-storage": "installguide/configuration.html#add-object-storage",
    "installguide/configuration.html#add-primary-storage": "installguide/configuration.html#add-primary-storage",
    "installguide/configuration.html#add-secondary-storage": "installguide/configuration.html#add-secondary-storage",
    "installguide/configuration.html#adding-a-cluster": "installguide/configuration.html#adding-a-cluster",
    "installguide/configuration.html#adding-a-host": "installguide/configuration.html#adding-a-host",
    "installguide/configuration.html#adding-a-pod": "installguide/configuration.html#adding-a-pod",
    "installguide/configuration.html#adding-a-zone": "installguide/configuration.html#adding-a-zone",
    "installguide/configuration.html#create-bucket": "installguide/configuration.html#create-bucket",
    "plugins/cloudian-connector.html": "plugins/cloudian-connector.html",
    "plugins/cloudstack-kubernetes-service.html#creating-a-new-kubernetes-cluster": "plugins/cloudstack-kubernetes-service.html#creating-a-new-kubernetes-cluster",
    "plugins/cloudstack-kubernetes-service.html#deleting-kubernetes-cluster": "plugins/cloudstack-kubernetes-service.html#deleting-kubernetes-cluster",
    "plugins/cloudstack-kubernetes-service.html#scaling-kubernetes-cluster": "plugins/cloudstack-kubernetes-service.html#scaling-kubernetes-cluster",
    "plugins/cloudstack-kubernetes-service.html#starting-a-stopped-kubernetes-cluster": "plugins/cloudstack-kubernetes-service.html#starting-a-stopped-kubernetes-cluster",
    "plugins/cloudstack-kubernetes-service.html#stopping-kubernetes-cluster": "plugins/cloudstack-kubernetes-service.html#stopping-kubernetes-cluster",
    "plugins/cloudstack-kubernetes-service.html#upgrading-kubernetes-cluster": "plugins/cloudstack-kubernetes-service.html#upgrading-kubernetes-cluster",
    "plugins/nuage-plugin.html?#optional-create-and-enable-vpc-offering": "plugins/nuage-plugin.html?#optional-create-and-enable-vpc-offering",
    "plugins/quota.html": "plugins/quota.html",
    "plugins/quota.html#quota-credits": "plugins/quota.html#quota-credits",
    "plugins/quota.html#quota-tariff": "plugins/quota.html#quota-tariff"
  },
  "notifyLatestCSVersion": true,
  "showSearchFilters": true,
  "announcementBanner": {
    "enabled": false,
    "showIcon": false,
    "closable": true,
    "persistDismissal": true,
    "type": "info",
    "message": "\ud83e\udd14 <strong>Sample Announcement</strong>: New Feature Available: Check out our latest dashboard improvements! <a href='/features'>Learn more</a>",
    "startDate": "2025-06-01T00:00:00Z",
    "endDate": "2025-07-16T00:00:00Z"
  },
  "defaultLanguage": "en"
}
