[Service]
Environment=GF_ANALYTICS_REPORTING_ENABLED=false
Environment=GF_ANALYTICS_CHECK_FOR_UPDATES=false
Environment=GF_ANALYTICS_CHECK_FOR_PLUGIN_UPDATES=false
Environment=GF_PLUGINS_PLUGIN_ADMIN_ENABLED=false
Environment=GF_PLUGINS_ENABLE_ALPHA=false
Environment=GF_UNIFIED_ALERTING_ENABLED=false
Environment=GF_LIVE_MAX_CONNECTIONS=5
Environment=GF_DATAPROXY_TIMEOUT=15
Environment=GF_DATAPROXY_KEEP_ALIVE_SECONDS=30
Environment=GF_DATAPROXY_MAX_IDLE_CONNECTIONS=50
Environment=GF_DATAPROXY_ROW_LIMIT=50000
Environment=GF_DASHBOARDS_MIN_REFRESH_INTERVAL=30s
Environment=GF_HELP_ENABLED=false
Environment=GF_NEWS_NEWS_FEED_ENABLED=false
Environment=GF_LOG_LEVEL=warn
Environment=GF_FEATURE_TOGGLES_kubernetesDashboards=false
Environment=GF_FEATURE_TOGGLES_dashboardNewLayouts=false
Environment=GF_FEATURE_TOGGLES_dashboardScene=false
Environment=GF_FEATURE_TOGGLES_publicDashboards=false
Environment=GF_FEATURE_TOGGLES_panelTitleSearch=false
Environment=GF_FEATURE_TOGGLES_correlations=false
Environment=GF_FEATURE_TOGGLES_ngalert=false
